<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522878798722-ebg270dembgqrb0ogs1qd8702r1jntfk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522878798722-ebg270dembgqrb0ogs1qd8702r1jntfk</string>
	<key>API_KEY</key>
	<string>AIzaSyD7ILDBuCWhYDEReb3VnwpQ9wQusiFGaKU</string>
	<key>GCM_SENDER_ID</key>
	<string>522878798722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itridtechnologies.LifeArt</string>
	<key>PROJECT_ID</key>
	<string>lifeart-d3799</string>
	<key>STORAGE_BUCKET</key>
	<string>lifeart-d3799.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522878798722:ios:f428c92a1b1c19f8c01d9b</string>
	<key>DATABASE_URL</key>
	<string>https://lifeart-d3799-default-rtdb.firebaseio.com</string>
</dict>
</plist>